<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- welcome file list-->
    <!--the welcome file is always in the webapp folder (not inside the views folder)-->
    <!--views is used for storing files referenced by the other servlets and classes-->
    <welcome-file-list>
        <welcome-file>websiteHome1.jsp</welcome-file>
    </welcome-file-list>



    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.UserLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>UserRegister</display-name>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.UserRegisterController</servlet-class>
<!--        <multipart-config>-->
<!--            <location>"D:/Java/InextureSolutionsTraining_Images/"</location> &lt;!&ndash; Specify the location to save uploaded files &ndash;&gt;-->
<!--            <max-file-size>10485769</max-file-size> &lt;!&ndash; Maximum file size allowed (in bytes) &ndash;&gt;-->
<!--            <max-request-size>20971540</max-request-size> &lt;!&ndash; Maximum request size (in bytes) &ndash;&gt;-->
<!--            <file-size-threshold>0</file-size-threshold> &lt;!&ndash; Size threshold for buffering data (0 means always save to disk) &ndash;&gt;-->
<!--        </multipart-config>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>


    <servlet>
        <display-name>ForLogout</display-name>
        <servlet-name>ForLogout</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--ViewPageController calls a servlet that merely redirects the user to viewUsers.jsp, which uses ajax to call viewUserDetailsController.java-->
    <servlet>
        <display-name>ViewPageController</display-name>
        <servlet-name>ViewPageController</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.ViewPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPageController</servlet-name>
        <url-pattern>/viewPageController</url-pattern>
    </servlet-mapping>

    <!--ViewUserDetails fetches the userList data from the database and provides viewUsers.jsp with the data upon an ajax call-->
    <servlet>
        <display-name>ViewUserDetails</display-name>
        <servlet-name>ViewUserDetails</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.ViewUserDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserDetails</servlet-name>
        <url-pattern>/viewuserdetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>UpdateProfile</display-name>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>AdminEdit</display-name>
        <servlet-name>AdminEdit</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.AdminEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEdit</servlet-name>
        <url-pattern>/AdminEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>DeleteUser</display-name>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ForgotPassword</display-name>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.inexture.userportal.userportalproject.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>

        <!--view resolver mapping for /views/ folder-->
        <!--views is used for storing files referenced by the other servlets and classes-->
        <!-- <jsp-config>
            <jsp-property-group>
                <url-pattern>*.jsp</url-pattern>
                <include-prelude>/WEB-INF/views</include-prelude>
            </jsp-property-group>
            <jsp-property-group>
                <url-pattern>*.html</url-pattern>
                <include-prelude>/WEB-INF/views</include-prelude>
            </jsp-property-group>
            <jsp-property-group>
                <url-pattern>*.htm</url-pattern>
                <include-prelude>/WEB-INF/views</include-prelude>
            </jsp-property-group>
        </jsp-config> -->

<!--    <filter>-->
<!--        <filter-name>NoCacheFilter</filter-name>-->
<!--        <filter-class>com.inexture.userportal.userportalproject.security.NoCacheFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>NoCacheFilter</filter-name>-->
<!--        <url-pattern>*</url-pattern>-->
<!--    </filter-mapping>-->


    <error-page>
        <!-- <error-code>500</error-code> -->
        <!-- <exception-type>java.lang.Exception</exception-type> -->
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>